@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
.form{
    display:block;
    margin: auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 0px 0px 20px gray;
    width:300px
   
}
.form1{
    color: whitesmoke;
    display:block;
    margin: auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 0px 0px 20px rgb(255, 252, 252);
    width:300px
}
.filled_div, .form1 .filled_div{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form a,.form1 a {
    padding: 5px;
}
.form1 a{
    color: whitesmoke;
}
.form h1, .form1 h1{
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(44, 36, 36, 0.37);
}

.form label, .form1 label{
    font-weight: bold;
    padding: 3px;
}
.form input, .form1 input{
    border-radius: 3rem;
    margin: 5px;
    width: 12rem;
    height:2rem;
    text-align: center;
}
.form .Btn, .form1 .Btn{

    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;
    width: 5pc;
    height: 2.5pc;

}
.form p, .form1 p{
    color: red;
    font-weight: bold;
    background-color: rgb(134, 201, 131);
    border-radius: 1pc;
    padding : 5px;

}